 
.navbar {
    background-color: #5cb85c;
}

.navbar-brand {
    font-size: 1.5em;
    color: #fff;
}

.nav-link {
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #ddf;
}

body {
    background-image: url('styleJPGs/pic1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="48" viewport="0 0 100 100" style="fill:black;font-size:24px;"><text y="50%">🦄</text></svg>'), auto;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #FF6A88;
    text-align: center;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #FF6A88;
    border: none;
    border-bottom: 1px solid #FF6A88;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #FF6A88;
    pointer-events: none;
    transition: .5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #FF9A8B;
    font-size: 12px;
}

button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #FF6A88;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: transparent;
    border: none;
    cursor: inherit;
}

button:hover {
    background: #FF6A88;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FF6A88,
                0 0 25px #FF6A88,
                0 0 50px #FF6A88,
                0 0 100px #FF6A88;
}

button span {
    position: absolute;
    display: block;
}

button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FF6A88);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FF6A88);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FF6A88);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FF6A88);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

.create-account-link {
    text-align: center;
    margin-top: 20px;
}

.create-account-link p {
    color: #FF6A88;
    margin-bottom: 10px;
}

.btn-create-account {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #FF9A8B;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    background: transparent;
    border: none;
}

.btn-create-account:hover {
    background: #FF9A8B;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FF9A8B,
                0 0 25px #FF9A8B,
                0 0 50px #FF9A8B,
                0 0 100px #FF9A8B;
}

.btn-create-account span {
    position: absolute;
    display: block;
}

.btn-create-account span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FF9A8B);
    animation: btn-anim1 1s linear infinite;
}

.btn-create-account span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FF9A8B);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

.btn-create-account span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FF9A8B);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

.btn-create-account span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FF9A8B);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}